<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Create a blog</title>
</head>
<body>
    <div class="create-blog">
        <form action="/blogs" method="post">
            <label for="title">Title: </label>
            <input name="title" type="text" id="title" placholder="Title..." required>
            <label for="snippet">Snippet: </label>
            <input name="snippet" type="text" id="snippet" placeholder="Snippet..." required>
            <label for="body">Body:</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>